%type-regular {
  font-family: Georgia, "Times New Roman",
             "Microsoft YaHei", "微软雅黑",
             STXihei, "华文细黑",
             serif;
  font-style: 400;
}

%type-light {
  font-family: Georgia, "Times New Roman",
             "Microsoft YaHei", "微软雅黑",
             STXihei, "华文细黑",
             serif;
  font-weight: 300;
}

// Caps styling used in headers
%title-caps {
  letter-spacing: .3rem;
  text-indent: .3rem;
  text-transform: uppercase;
}

// Adds an ellipses at the end of overflowing strings
%ellipsized {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%force-wrap {
  word-wrap: break-word;
  word-break: break-all;
 -ms-word-break: break-all;
  word-break: break-word; // Non-standard for webkit
  hyphens: auto;
}
