//  favourite css
#save-folder {
  width: 60%;
  height: 100%;
  margin: 1rem auto;
  padding: 1rem;

  @include below(600px) {
    width: 95%;
  }
  h2 {
    height: 3rem;
    padding: 1rem;
    color: $color-tertiary;
    background-color: $color-well;
  }
  img {
    width: 8rem;
  }
  h4 {
    display: inline-block;
    margin-left: 1rem;
  }
}
